.aboutHeading {
    grid-row-start: 1;
    grid-column-start: 2;
    padding-left:20px;
    font-weight: 700;
    color: white;
}

.containerAbout {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 5;
    padding-left: 20px;
    padding-right: 20px;
}

.aboutImage {
    position: relative;
    top: 0;
    float: right;
}

.scheduleHeading {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 5;
    grid-column-end: 5;
    text-align: center;
    font-weight: 700;
    color: white;
}

.containerSchedule {
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    text-align: center;
}

