.schedule {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;

    min-height: min-content;
    padding-bottom: 22px;
}

.scheduleItem {
    max-width: 100%;
    min-height: 75px;
    background-color: transparent;
    border-bottom: 1px solid #eaeaea;
    padding: 10px;
}

.scheduleItem.bottom {
    border-bottom: 0;
}

.scheduleItem h2 {
    margin: 0;
}

.scheduleItemDate p {
    margin: 0;
    font-size: 1.2em;
    font-style: italic;
}