.staff1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

    padding: 10px;
}
.staff2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;

    padding: 10px;
}
.staff3 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;

    padding: 10px;
}
.staff4 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;

    padding: 10px;
}
@media screen and (max-width: 600px) {
    .staff1 {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 2;
        grid-row-end: 3;
    
    }
    .staff2 {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 3;
        grid-row-end: 4;
    
    }
    .staff3 {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 4;
        grid-row-end: 5;
    
    }
    .staff4 {
        grid-column-start: 1;
        grid-column-end: end;
        grid-row-start: 5;
        grid-row-end: 6;
    
    }
}