.body {
    font-family: 'Karla', sans-serif;
    margin: 0;
}

/* --- NAVBAR --- */


/* --- CONTAINER --- */
.containerFullScreen {
    display: grid;
    grid-template-columns: 2% repeat(4, 1fr) 2%;
    grid-template-rows: minmax(2%, 10%) repeat(4, 1fr) 2%;
    min-height: 100vh;
}

.containerFooter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

@media screen and (max-width: 600px) {

}

div.contentBox {
    margin: 5px;
    border-radius: 15px;
    filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.25));
}